body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url('background.jpg');

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    text-align: center;
    width: 500px;
}

.input-form {
    max-width: 500px;
    margin: 0 auto;
}